<header>
    <div class="container">
        <div class="logo-wrap">
            <img src="logo.png">
        </div>
        <nav>
            <ul>
                <li>
                    <a routerLink="/"  routerLinkActive="active" >Home</a>
                </li>
                <li>
                    <a routerLink="/plays"  routerLinkActive="active" >Plays</a>
                </li>
                <li>
                    <a routerLink="/login"  routerLinkActive="active" >Login</a>
                </li>
            </ul>
        </nav>
    </div>
</header>