<header>
    <div class="container">
        <div class="logo-wrap">
            <img src="logo.png">
        </div>
        <nav>
            <ul>
                <li>
                    <a routerLink="/" routerLinkActive="active">Home</a>
                </li>
                @if(isLoggedIn()) {
                <li>
                    <a routerLink="/plays" routerLinkActive="active">Plays</a>
                </li>
                <li>
                    <a routerLink="/profile" routerLinkActive="active">My Profile</a>
                </li>
                <li>
                    <a routerLink="/logout" routerLinkActive="active" (click)="logout()">Logout</a>
                </li>
                } @else {
                <li>
                    <a routerLink="/login" routerLinkActive="active">Login</a>
                </li>
                <li>
                    <a routerLink="/register" routerLinkActive="active">Register</a>
                </li>
                }
            </ul>
        </nav>
    </div>
</header>