<div class="play-item">
  <div class="left-side">
    <p>january</p>
  </div>

  <div class="container">
    <div class="content-wrapper">
      <div class="image">
        <img src="{{play.imageUrl}}" />
      </div>

      <div class="right-side">
        <div class="logo">
          <img src="logo.png" />
        </div>
        <div class="top-row">
          <div class="date-box">25</div>
          <div class="scene-time">{{play.place}} - 19:00</div>
        </div>


        <div class="title">{{play.playName}}</div>

        <div class="info">
          <p>Режисьор: <br />
            {{play.director[0]}}
          </p>
        </div>
      </div>


    </div>
  </div>
</div>