<div class="play-item">
  @if(play) {
  <div class="left-side">
    <p>{{play.playDate | playDateFormat: 'month'}}</p>
  </div>

  <div class="container">
    <div class="content-wrapper">
      <div class="image">
        <img src="{{play.imageUrl}}" />
      </div>

      <div class="right-side">
        <div class="logo">
          <img src="images/logo.png" />
        </div>
        <div class="top-row">
          <div class="date-box">{{play.playDate | playDateFormat: 'day'}}</div>
          <div class="scene-time">{{play.place}} - {{play.playDate | playDateFormat: 'time'}}</div>
          <div class="scene-time" [routerLink]="['/plays', play._id]" [state]="{ playName: play.playName }">Details</div>
        </div>


        <div class="title">{{play.playName}}</div>

        <div class="info">
          <p>Director: <br />
            {{play.director}}
          </p>
        </div>
      </div>
    </div>
  </div>
  }
</div>