<div class="play-item">
  <div class="left-side">
    <p>january</p>
  </div>

  <div class="container">
    <div class="content-wrapper">
      <div class="image">
        <img src="images/tutun.jpg" />
      </div>

      <div class="right-side">
        <div class="logo">
          <img src="logo.png" />
        </div>

        <div class="scene-time">ОСНОВНА СЦЕНА - 19:00</div>

        <div class="title">ТЮТЮН</div>

        <div class="info">
          <p>По романа на <br>Димитър Димов<br>
            Драматургичен вариант <br>Юрий Дачев<br>
            Режисьор <br>Бина Харалампиева
          </p>
        </div>
      </div>

      <div class="date-box">25</div>
    </div>
  </div>
</div>
