body {
  font-family: 'Poppins', sans-serif;
}

.custom-tooltip {
  background-color: #ccc;
  color: #333;
  padding: 0.5rem;
  border-radius: 5px;
  font-size: 0.9rem;
}

.custom-spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 200px;
  color: #cd2122;
}


:root {
  --swiper-navigation-color: #cd2122;
  --swiper-pagination-color: #cd2122;
  --swiper-pagination-bullet-inactive-color: #ccc;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.mat-mdc-progress-spinner circle,
.mat-mdc-spinner circle {
  stroke: #cd2122 !important;
}