body {
  font-family: 'Poppins', sans-serif;
}

:root {
  --swiper-navigation-color: #cd2122;      
  --swiper-pagination-color: #cd2122;       
  --swiper-pagination-bullet-inactive-color: #ccc; 
}